<% if (theme.aplayer.enable) { %>
  <!-- aplayer 音频 start -->
  <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.css">
  <script type="text/javascript" src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.js"></script>
  
  <div class="aplayer-box"></div>
  <script type="text/javascript">
    const aplayer = document.querySelectorAll(".aplayer-box");
    aplayer && initaplayer(aplayer);
    function initaplayer(els) {
      let elsArr = Array.from(els);
      let musics = [
        {
          name: '~小精灵~',
          artist: '蘇',
          cover: 'http://rj64n9iaf.hb-bkt.clouddn.com/image/%E5%B0%8F%E7%B2%BE%E7%81%B5.jpg',
          url: 'http://rj64n9iaf.hb-bkt.clouddn.com/music/%E5%B0%8F%E7%B2%BE%E7%81%B5.mp3'
        },
        {
          name: 'Happy Birthday',
          artist: '蘇',
          cover: 'http://rj64n9iaf.hb-bkt.clouddn.com/image/%E5%B0%8F%E7%B2%BE%E7%81%B5.jpg',
          url: 'http://rj64n9iaf.hb-bkt.clouddn.com/music/HappyBirthday.mp3'
        },
        {
          name: '~最爱下雨的我们~',
          artist: '蘇',
          cover: 'http://rj64n9iaf.hb-bkt.clouddn.com/image/%E5%B0%8F%E7%B2%BE%E7%81%B5.jpg',
          url: 'http://rj64n9iaf.hb-bkt.clouddn.com/music/Rain.mp3'
        },
        {
          name: '~Baby,我都不会接吻~',
          artist: '蘇',
          cover: 'http://rj64n9iaf.hb-bkt.clouddn.com/image/%E5%B0%8F%E7%B2%BE%E7%81%B5.jpg',
          url: 'http://rj64n9iaf.hb-bkt.clouddn.com/music/Baby%E6%88%91%E9%83%BD%E4%B8%8D%E4%BC%9A%E6%8E%A5%E5%90%BB.mp3'
        },
        {
          name: '~东西~',
          artist: '蘇',
          cover: 'http://rj64n9iaf.hb-bkt.clouddn.com/image/%E5%B0%8F%E7%B2%BE%E7%81%B5.jpg',
          url: 'http://rj64n9iaf.hb-bkt.clouddn.com/music/%E4%B8%9C%E8%A5%BF.mp3'
        }
      ]
      elsArr.forEach(el => {
        let params = {
          container: el,
          audio: musics,
          theme: "<%= theme.aplayer.theme %>",
          autoplay: <%= theme.aplayer.autoplay %>,
          mutex: <%= theme.aplayer.mutex %>,
          mini: true,
          fixed: true,
          loop: 'all',
          volume: 1
        }
        if (el.dataset.lrc) {
          params['lrcType'] = <%= theme.aplayer.lrcType %>
        }
        new APlayer(params);
      });
    }
  </script>
  <!-- aplayer 音频 end -->
  <% } %>